<div class= 'container text-center'>
  <h2>About Us</h2>
  <p>We are DevMatch. Our company focuses on creating 
    an exclusive community for developers and entrepreneurs, investors and entrepreneurs 
    to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea eum quod expedita perspiciatis, minus fugit consectetur aliquid ex, maiores voluptatum placeat quia rerum voluptatibus ipsa pariatur quis! Explicabo, ipsum, ad.
  </p>
</div>